<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")
    }}>
    <!-- For Bootstrap, add your CSS and JS links here -->
  </head>
  <body>
    <!-- Add your HTML content here... -->
    <h1>Welcome to COMPSCI 235</h1>
    <p class="mytext">Let's create an awesome webpage!</p>
    <h2>This is head2</h2>
    <span class='heimu' title='你被骗了'>
      Never gonna give you up~
    </span>
    <p>
      <a href="https://zh.moegirl.org/%E4%BF%9D%E8%AF%81%E6%89%93%E4%B8%8D%E6%AD%BB%E4%BD%A0#", title="萌娘百科 保证不打死你">
        <ruby>保证不打死你<rt>
          <span class='heimu' title='你知道的太多了'>保证把你打死</span> 
        </rt></ruby>
      </a>
    </p>
    <p>
      <div style="color:#0000FF">
        test 
      </div>
    </p>
    <select name="cars">
      <option value="option_1">option_1</option>
      <option value="option_2">option_2</option>
      <option value="option_3" selected="selected">option_3</option>
      <option value="option_4">option_4</option>
    </select>
    <p>
      <textarea rows="10" cols="22">I'm a text box!</textarea> 
    </p>
    <table border="1"， cellspacing="0">
      <tr>
          <td>cell11</td>
          <td>cell12</td>
      </tr>
    </table>
    <ol>
      <li>HTML</li>
      <li>HEAD</li>
      <li>BODY</li>
    </ol>
    <p>
      <img src="/static/sombrero-2.png" alt="sombrero" , width="300px" , height="auto" />
    </p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

     <script>
        gsap.from('div', {opacity: 0, duration: 1, y: -50})
     </script>
  </body>
</html>
